.box {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 2px;
    margin-bottom: 20px;
}

.container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 16px;
    color: white;
    background-color:#323639;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

th {
    background: #1C1E22;
    text-align: center;
}

th, td {
    border: 1px solid #808080;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background: #2E3338;
}

tr:nth-child(odd) {
    background: #353A41;
}

td:hover {
    background: #808080;
}
